<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <title>ICLab {% block title %}Manage your anonymity!{% endblock %}</title>

</head>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </a>
     <a class="brand" href="http://www.internetcensorshiplab.com/">ICLab : Measurement Platform</a>

    <div class="nav-collapse collapse pull-right">
        <ul class="nav">

            {% if user.is_authenticated %}
                <li><a href="" data-toggle="modal"><i class="icon-user icon-white"></i> {{  user.username }}</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/iptables/logout/"> Logout</a></li>
                <li class="divider-vertical"></li>
            {% endif %}
                <li><a href="#forgot" data-toggle="modal"> Help</a></li> <!--TODO-->
                <li class="divider-vertical"></li>
                <li><a href="mailto:himanshu1410@live.com?subject=ICLab Platform Query" data-toggle="modal"><i class="icon-envelope icon-white"></i> Contact Us</a></li>
                <li class="divider-vertical"></li>

        </ul>
    </div>

    </div>
  </div>
</div>
<!-- Navigation Ends -->
 {% block body_block %}
 {% endblock %}





{% comment %}
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="http://www.internetcensorshiplab.com/">ICLab : Measurement <Platfor></Platfor>m</a>
           <div class="nav-collapse collapse">
               {% if user.is_authenticated %}
                <div class="navbar-text">Welcome, {{ user.username }}!</div>
                <div> <a href="/iptables/logout/">Logout</a></div>
               {% else %}
                   <div class="navbar-text">
                    <!--<li><a href="/iptables/register/">Register</a></li>-->
                <a href="http://www.internetcensorshiplab.com/Instructions">Instructions Page</a> #TODO
                   </div>
                {% endif %}
           </div>
           {%  comment %}
           <div class="nav-collapse collapse">
               <ul class="nav pull-right">-->
                   {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li><a href="/iptables/logout/">Logout</a></li>
                   {% else %}
                    <!--<li><a href="/iptables/register/">Register</a></li>-->
                    <a href="/iptables/login/">Instructions Page</a></li> #TODO
                   {% endif %}
               </ul>

               <ul class="nav">
                   {% if user.is_authenticated %}
                    <li><a href="/iptables/restricted/">Restricted</a></li>
                    <li><a href="/iptables/add_category/">Add Category</a></li>
                   {% endif %}
                   <li><a href="/iptables/about/">About</a></li>
               </ul>
                    </div>
   </div>
</div>
               {% endcomment %}

           <!--/.nav-collapse -->



















{% comment %}
        <div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <!--- Empty for the timebeing -->
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            {% block body_block %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!--
        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/iptables/restricted/">Restricted Page</a></li>
                <li><a href="/iptables/logout/">Logout</a></li>
                <li><a href="/iptables/add_category/">Add a New Category</a></li>
            {% else %}
                <li><a href="/iptables/register/">Register Here</a></li>
                <li><a href="/iptables/login/">Login</a></li>
            {% endif %}

                <li><a href="/iptables/about/">About</a></li>
            </ul>
        </div> -->
    </body>
<footer>
    <div class="container">
        <p>&copy; Himanshu: How to iptables with Django 2013</p>
    </div>
</footer>
{% endcomment %}
</html>