<!DOCTYPE html>
{% extends 'iptables/base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
    <!-- Main Container -->
<section>
<div class="container login">
    <div class="row ">
        <div class="center span4 well">
            <legend>Please Sign In</legend>

            {% if error %}
                <div class="warning">
                   <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
                </div>
            {% elif disabled_account %}
                <div class="alert alert-error">
                   <a class="close" data-dismiss="alert" href="#">×</a>Your account is currently disabled; we can't log you in!
                </div>
            {% endif %}
   <form method="POST" accept-charset="UTF-8" action="/iptables/login/">
       {% csrf_token %}
            <input type="text" id="username" class="span4" name="username" placeholder="Username" />
            <input type="password" id="password" class="span4" name="password" placeholder="Password" />
<!--            <label class="checkbox">
                <input type="checkbox" name="remember" value="1" /> Remember Me
            </label>
-->
            <button type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
            </form>
        </div>
    </div>
</div>
<p class="text-center muted ">&copy; Copyright 2014 - ICLab </p>
</section>
<!-- Main Container Ends -->
    </div>
    <!-- /container -->
    </div>
{% endblock %}