<!DOCTYPE html>
{% extends 'iptables/base.html' %}
{% load static %}
{% block title %}Manage Urls{% endblock %}

{% block body_block %}
    <script src="{% static 'js/jquery.js' %}"></script>

 <link href="{% static 'checkbox/jquery.tzCheckbox.css' %}" rel="stylesheet" type="text/css">

    <h1 align="center"> Tor Settings</h1>

    <table align="center" width="450" >

    <tr>
        <td><h3> Measurement data</h3></td>
        <td>
             {% if not measurement_status %}
             <input type="checkbox" class="tzCheckBox" id="measurement_status" data-on="ON" data-off="OFF" checked/>
             {% else %}
             <input type="checkbox" class="tzCheckBox" id="measurement_status" data-on="ON" data-off="OFF" unchecked/>
             {% endif %}
        </td>
    </tr>
    </tr>
    <tr>
        <td><h3> Http </h3></td>
        <td>
             {% if anonymity_status %}
             <input type="checkbox" class="tzCheckBox" id="anonymity_status" data-on="ON" data-off="OFF" checked/>
             {% else %}
             <input type="checkbox" class="tzCheckBox" id="anonymity_status" data-on="ON" data-off="OFF" unchecked/>
             {% endif %}
        </td>
    </tr>

        <tr>
        <td><h3> Https </h3></td>
        <td>
             {% if not anonymity_status %}
             <input type="checkbox" class="tzCheckBox" id="anonymity_status" data-on="ON" data-off="OFF" checked/>
             {% else %}
             <input type="checkbox" class="tzCheckBox" id="anonymity_status" data-on="ON" data-off="OFF" unchecked/>
             {% endif %}
        </td>
    </tr>

    </table>
</div>

    <hr/>

    <h1 align="center"> Current Configuration </h1>
<div class="container login">

    <table class="table table-striped table-bordered table-hover" width="50" align="center">



        <thead>
        <tr>
            <th>URL</th>
            <th>IP Address</th>
            <th>Comments</th>
            <th>Status</th>
        </tr>
        </thead>
    <tbody>
    {% if url_data %}
            {% for urls in url_data %}
                {% if urls.status %}
                    <tr class="success">
                    <td>{{ urls.url}}</td>
                    <td>{{ urls.ip}}</td>
                    <td>{{ urls.comments}}</td>
                    <td>
                        {% if urls.status %}
                        <input type="checkbox" class="tzCheckBox" id="urls.id" data-on="ON" data-off="OFF" checked/>
                        {% else %}
                        <input type="checkbox" class="tzCheckBox" id="urls.id" data-on="ON" data-off="OFF" unchecked/>
                        {% endif %}
                    </td>
                    </tr>
                {% else%}
                <tr class="warning">
                    <td>{{ urls.url}}</td>
                    <td>{{ urls.ip}}</td>
                    <td>{{ urls.comments}}</td>
                    <td>
                        {% if urls.status %}
                        <input type="checkbox" class="tzCheckBox" id="urls.id" data-on="ON" data-off="OFF" checked/>
                        {% else %}
                        <input type="checkbox" class="tzCheckBox" id="urls.id" data-on="ON" data-off="OFF" unchecked/>
                        {% endif %}
                    </td>
                    </tr>
                {% endif %}
            {% endfor %}
     {% else %}
        <tr><td> <h5>No URLs present in the database at present.</h5></td></tr>
    {% endif %}
    <form method="post" accept-charset="UTF-8" action="/iptables/manage/">
    {% csrf_token %}
    <tr class="warning">
     {% for hidden in form.hidden_fields %}
         <td>
            {{ hidden }}
         </td>
     {% endfor %}
    </tr>
<tr>
     {% for field in form.visible_fields %}

         {% if field.errors %}
         <td class="alert-error">
                {{ field.errors }}
         </td>
         {% endif %}

         {% if field.help_text %}
         <td class="alert">
               {{ field.help_text }}
         </td>
         {% endif %}

         <td class="span4">   {{ field }}</td>
      {% endfor %}

    <td><button type="submit" class="btn btn-primary ">Submit</button></td>
     </tr>

    </form>
    </tbody>
 </table>
</div>
<!-- Tablular data ends -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="{% static 'checkbox/jquery.tzCheckbox.js' %}"></script>
    <script src="{% static 'checkbox/checkbox.js' %}"></script>
{% endblock %}

